@import "tailwindcss";

@plugin "daisyui" {
  themes: museum;
}

@theme {
  --color-primary: #916f3b;    
  --color-secondary: #9b8f6a; 
  --color-accent: #674f2d;     
  --color-neutral: #2f2e29;    
  --color-base-100: #535346;   
  --color-base-200: #424036;   
}

:root {
  --p: 35 43% 40%;
  --s: 46 22% 51%;
  --b1: 60 8% 30%;
  --b2: 52 10% 24%;
  --n: 45 6% 17%;
}